.linha{
  margin-bottom: 20px;
}



#total{
  font-size: 20px;
}

h4{
  background-color:aliceblue ;
  border: 10px;
  
}

body{
  background: crimson;



}
#box{
  width:300px;
  margin-left:9%;
  height: 96%;
  padding:10px;

}
#botao{
  margin-top:4%;
  margin-left:37%;
}
#peso,#altura,#idade,#sexo{
  width:65%;
margin-left:6%;
  
}




