.linha{
  margin-bottom: 20px;
}



#total{
  font-size: 20px;
}

h4{
  background-color:#8C1717 ;
  border: 10px;
  border-color: black;
}

body{
  background: crimson;
  font-family: bold;

  color:white;

}
#box{
  width:400px;
  height: 90%;
  border:black 4px solid;
}
#botao{
  margin-top:4%;
  margin-left:20%;
}

